:root.theme-dark {
  --accent-color: #ff0070;
  --font-size-title-large: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --decor-color: #ff0070;
  --text-color: #f1b2ce;
  --header-footer-color: #db00ff;
  --cover-image: url("/images/cover-image-dark.png");
  --bg-color: #000028;
  --title-color: #db00ff;
  --title-shadow-color: #ff0070;
  --transparent-accent: rgba(255, 0, 112, 0.4);
  --font-text: "IBM Plex Mono";
  --font-size-title-gigantic: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #000028;
    --transparent-accent: rgba(255, 0, 112, 0.4);
    --font-size-title-large: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    --decor-color: #ff0070;
    --text-color: #f1b2ce;
    --accent-color: #ff0070;
    --title-color: #db00ff;
    --title-shadow-color: #ff0070;
    --cover-image: url("../images/cover-image-dark.png");
    --font-text: "IBM Plex Mono";
    --font-size-title-gigantic: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

.theme-light .rec-label {
  display: none;
}
