:root.theme-dark {
  --accent-color: #ff0070;
  --font-size-header-footer: 116px;
  --decor-color: #ff0070;
  --text-color: #f1b2ce;
  --header-footer-color: #db00ff;
  --cover-image: url("/images/cover-image-dark.png");
  --bg-color: #000028;
  --header-footer-color: #db00ff;
  --title-shadow-color: #ff0070;
  --transparent-accent: #ff007066;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #000028;
    --transparent-accent: #ff007066;
    --font-size-header-footer: 116px;
    --decor-color: #ff0070;
    --text-color: #f1b2ce;
    --accent-color: #ff0070;
    --header-footer-color: #db00ff;
    --title-shadow-color: #ff0070;
    --cover-image: url("../images/cover-image-dark.png");
  }
}
