:root.theme-dark {
  --accent-color: #ff0070;
  --decor-color: #ff0070;
  --title-color-smaller: #000028;
  --text-color: #f1b2ce;
  --header-footer-color: #db00ff;
  --cover-image: url("../images/cover-image-dark.png");
  --title-color: #db00ff;
  --title-shadow-color: #ff0070;
  --transparent-accent: rgba(255, 0, 112, 0.4);
  --rec-label-display: flex;
}

@media (prefers-color-scheme: dark) {
  :root {
    --transparent-accent: rgba(255, 0, 112, 0.4);
    --title-color-smaller: #000028;
    --decor-color: #ff0070;
    --text-color: #f1b2ce;
    --accent-color: #ff0070;
    --title-color: #db00ff;
    --title-shadow-color: #ff0070;
    --cover-image: url("../images/cover-image-dark.png");
    --rec-label-display: flex;
  }
}
