:root.theme-dark {
  --accent-color: #ff0070;
  --font-size-title-large: 116px;
  --decor-color: #ff0070;
  --text-color: #f1b2ce;
  --header-footer-color: #db00ff;
  --cover-image: url("/images/cover-image-dark.png");
  --bg-color: #000028;
  --title-color: #db00ff;
  --title-shadow-color: #ff0070;
  --transparent-accent: rgba(255, 0, 112, 0.4);
  --font-text: "IBM Plex Mono";
  --font-size-title-gigantic: 157px;
}

.theme-dark .rec-label {
  display: flex;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #000028;
    --transparent-accent: rgba(255, 0, 112, 0.4);
    --font-size-title-large: 116px;
    --decor-color: #ff0070;
    --text-color: #f1b2ce;
    --accent-color: #ff0070;
    --title-color: #db00ff;
    --title-shadow-color: #ff0070;
    --cover-image: url("../images/cover-image-dark.png");
    --font-text: "IBM Plex Mono";
    --font-size-title-gigantic: 157px;
  }
}
