:root.theme-light {
  --accent-color: #353430;
  --transparent-accent: rgba(50, 49, 45, 0.4);
  --title-color-smaller: #353430;
  --text-color: #353430;
  --text-color-txt: #353430;
  --title-color: #ffc2e6;
  --title-shadow-color: #ff8dcb;
  --decor-color: #ff8dcb;
  --cover-image: url("../images/cover-image-light.png");
  --rec-label-display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #353430;
    --title-color-smaller: #353430;
    --decor-color: #ff8dcb;
    --text-color: #353430;
    --transparent-accent: rgba(50, 49, 45, 0.4);
    --title-color: #ffc2e6;
    --title-shadow-color: #ff8dcb;
    --cover-image: url("../images/cover-image-light.png");
    --rec-label-display: none;
  }
}
