.page {
  background-image: var(--cover-image);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  height: 100vh;
  min-height: 668px;
  padding-block-start: 72px;
  padding-inline: 10px;
  padding-block-end: 66px;
}

.header__theme-menu {
  display: flex;
  grid-row: 1;
  justify-content: flex-end;
}

.rec-label {
  display: flex;
  position: absolute;
  justify-self: end;
  font-family: var(--font-text), monospace;
  font-size: var(--font-size);
  color: var(--accent-color);
  padding-right: 19px;
  padding-block-start: 13px;
}

.rec-label::after {
  content: "";
  width: 11px;
  height: 11px;
  margin-left: 10px;
  margin-top: 6px;
  background: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0 0 8px 4px var(--accent-color),
    inset 0 0 10px 6px var(--accent-color);
}

.header__theme-menu-button {
  background: transparent;
  border: none;
  padding: 4px 13px;
  font-family: var(--font-text), monospace;
  font-size: var(--font-size);
  font-weight: var(--font-weight-regular);
  line-height: 18px;
  text-transform: lowercase;
  color: var(--accent-color);
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--transparent-accent);
  outline-offset: -1px;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  outline: 1px solid var(--transparent-accent);
}

.header__theme-menu-button_active {
  background: transparent;
  color: var(--accent-color);
  outline-offset: -1px;
  pointer-events: none;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 11.5px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid var(--accent-color);
  z-index: 2;
}

.decorated-zone::after {
  top: 10px;
  right: 10px;
  border-left: none;
  border-bottom: none;
}

.decorated-zone::before {
  bottom: 10px;
  left: 10px;
  border-right: none;
  border-top: none;
}

.header_name {
  grid-row: 2;
  justify-self: center;
  align-self: center;
}

.header-title.title-decor {
  grid-row: 3;
  justify-self: end;
  align-self: end;
  font-family: var(--font-text), monospace;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size);
  line-height: 23.4px;
}

.title-decor {
  background-color: var(--decor-color);
  color: #000028;
}

.title-large {
  font-family: var(--font-text), monospace;
  font-weight: var(--font-weight-bold);
  line-height: 0.825;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--title-shadow-color);
}

.section {
  color: #fff;
}

.section-title {
  font-family: var(--font-text), monospace;
  font-weight: var(--font-weight-bold);
  color: var(--accent-color);
  font-size: var(--font-size);
}

.section-title-top {
  padding-block-start: 40px;
  padding-inline: 10px;
}

.section-title-center {
  padding-block-start: 52px;
  padding-inline: 10px;
}

.section-title-bottom {
  padding-block-start: 52px;
  padding-inline: 10px;
}

.card {
  padding-inline: 10px;
  padding-top: 20px;
}

.section-heading {
  font-family: var(--font-text), monospace;
  font-size: var(--font-size);
  font-weight: var(--font-weight-bold);
}

.section-heading_regular {
  font-weight: var(--font-weight-regular);
  font-family: var(--font-text), monospace;
}

.section-heading_margin {
  margin-block-end: 10px;
}

.section-subtitle_mod {
  margin-block-start: 20px;
  margin-inline: 10px;
  line-height: 23.4px;
}

.card-text {
  font-family: var(--font-text), monospace;
  font-weight: var(--font-weight-regular);
  line-height: 23.4px;
  color: var(--text-color);
  font-size: var(--font-size);
}

.link-decor {
  text-shadow: 2px 2px 0 var(--decor-color);
}

.link-decor:hover {
  border-bottom: 1px solid var(--text-color);
}

.link-decor:focus-visible {
  outline: 1px solid var(--text-color);
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  padding: 10px 10px 40px;
  gap: 10px;
  height: 100%;
}

.gallery__title {
  font-family: var(--font-text), monospace;
  font-size: var(--font-size);
  line-height: 23.4px;
  font-weight: var(--font-weight-bold);
  margin-block-start: 50px;
}

.gallery__img {
  display: block;
  width: 100%;
  height: 100%;
  object-position: center;
}

.footer {
  height: 100vh;
  min-height: 668px;
  display: flex;
  place-items: center;
  padding-inline: 14px;
  font-weight: var(--font-weight-bold);
  justify-content: center;
}

.footer_name {
  justify-self: center;
  align-self: center;
}

@media (min-width: 768px) {
  .header {
    min-height: 768px;
    padding-inline: 0;
    padding-inline-end: 20px;
  }

  .header__theme-menu {
    align-items: center;
    padding-block-end: 60px;
  }

  .header_name {
    justify-self: start;
  }

  .header-title.title-decor {
    max-width: 364px;
    margin-block-end: 117px;
  }

  .rec-label {
    margin-block-start: 10px;
    margin-inline-end: 10px;
  }

  .decorated-zone::after {
    margin-block-start: 10px;
    margin-inline-end: 10px;
  }

  .decorated-zone::before {
    margin-block-end: 10px;
    margin-inline-start: 10px;
  }

  .card-title .title-decor {
    align-self: center;
    justify-self: end;
    max-width: 364px;
    text-align: right;
    padding: 10px 20px;
  }

  .section-top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding-inline: 20px;
    padding-block-start: 40px;
  }

  .section-center-list {
    display: flex;
    flex-direction: column;
  }

  .section-center-list-item {
    display: flex;
    max-width: 728px;
  }

  .section-bottom-list {
    display: grid;
    grid-column: 2;
  }

  .section-subtitle_mod {
    margin-block-start: 9px;
    margin-inline: 0;
  }

  .section-bottom-list-item {
    min-width: 472px;
  }

  .section-top-list {
    display: grid;
    grid-column: 2 / 3;
  }

  .section-top-list-item {
    min-width: 472px;
  }

  .section-center {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-inline: 20px;
  }

  .section-title-top {
    display: grid;
    max-width: 236px;
    padding-top: 20px;
    padding-inline: 0;
  }

  .section-title-center {
    max-width: 236px;
    padding-inline: 0;
  }

  .section-title-bottom {
    padding-block-start: 23px;
    padding-inline: 0;
  }

  .section-subtitle {
    max-width: 100%;
    margin-inline: 0;
  }

  .card {
    padding-inline: 0;
  }

  .section-bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 60px;
    padding-inline: 20px;
  }

  .gallery__title {
    grid-column: 1 / 4;
    margin-top: 47px;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 20px;
    height: 100%;
    padding: 29px 20px 60px;
  }

  .gallery__img:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .gallery__img:nth-child(2) {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    height: 100%;
  }

  .gallery__img:nth-child(3) {
    grid-column: 3;
    grid-row: -4/-2;
    height: 100%;
  }

  .gallery__img:nth-child(4) {
    grid-column: 1;
    grid-row: 3 / 5;
    height: 100%;
  }

  .gallery__img:nth-child(5) {
    grid-column: 2 / 3;
    grid-row: 3;
    height: 100%;
  }

  .gallery__img {
    grid-column: 2 / 4;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
  }

  .footer_name {
    place-items: center;
  }
}

@media (min-width: 1024px) {
  .header {
    padding-block: 0;
  }

  .rec-label {
    position: absolute;
    display: flex;
  }

  .header__theme-menu {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-left: 19px;
    padding-block-start: 19px;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .header_name {
    font-size: var(--font-size-title-gigantic);
  }

  .header-title.title-decor {
    max-width: 491px;
    margin-block-end: 135px;
  }

  .decorated-zone::before {
    margin-left: 10px;
  }

  .decorated-zone::after {
    margin-top: 8px;
  }

  .section-top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .section-title {
    display: grid;
    grid-column: 1;
    padding-inline: 0;
  }

  .section-title-top {
    max-width: 100%;
  }

  .section-top-list {
    display: grid;
    grid-column: 2 / 4;
  }

  .section-center {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    padding-inline-start: 20px;
    padding-inline-end: 19px;
  }

  .section-title-center {
    max-width: 100%;
  }

  .section-center-list {
    display: grid;
    gap: 20px;
    grid-column: 1 / 4;
  }

  .section-center-list-item {
    display: grid;
    grid-row: 1;
    min-width: 315px;
  }

  .section-bottom {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }

  .section-title-bottom {
    margin-right: 20px;
    max-width: 315px;
  }

  .footer {
    display: flex;
    justify-content: center;
  }

  .footer_name {
    font-size: 157px;
  }
}
