.page {
  background-image: var(--cover-image);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  height: 100vh;
  min-height: 668px;
  padding-inline: 10px;
  padding-block-start: 13px;
}

.header__theme-menu {
  display: grid;
  grid-row: 1;
  justify-items: end;
  align-self: start;
}

.rec-label {
  display: flex;
  position: absolute;
  justify-self: end;
  font-family: var(--font-text), monospace;
  font-size: var(--font-size);
  color: var(--accent-color);
  padding-right: 19px;
  padding-block-start: 13px;
}

.rec-label::after {
  content: "";
  width: 9px;
  height: 9px;
  margin-left: 10px;
  margin-top: 6px;
  background: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0 0 8px 2px var(--accent-color),
    inset 0 0 8px 2px var(--accent-color);
}

.header__theme-menu-button {
  background: transparent;
  border: none;
  padding: 4px 13px;
  font-family: var(--font-text), monospace;
  font-size: var(--font-size);
  font-weight: var(--font-weight-regular);
  line-height: 18px;
  text-transform: lowercase;
  color: var(--accent-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--transparent-accent);
  outline-offset: -1px;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--transparent-accent);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
  outline-offset: -1px;
  background: transparent;
  color: var(--accent-color);
  pointer-events: none;
}

.theme-light .header__theme-menu-button_active {
  background: transparent;
  color: var(--accent-color);
}

.header__theme-menu-list {
  display: flex;
  padding-block-start: 40px;
  flex-direction: column;
  gap: 11.5px;
  font-family: var(--font-text);
  color: var(--accent-color);
  font-weight: var(--font-weight-regular);
  text-transform: lowercase;
  background-color: transparent;
  border: none;
}

.header-title.title-decor {
  grid-row: 3;
  margin-block-start: 55px;
  font-family: var(--font-text), monospace;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size);
  justify-self: end;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid var(--accent-color);
  z-index: 2;
}

.decorated-zone::after {
  top: 10px;
  right: 10px;
  border-left: none;
  border-bottom: none;
}

.decorated-zone::before {
  bottom: 10px;
  left: 10px;
  border-right: none;
  border-top: none;
}

.theme-light .decorated-zone::before,
.theme-light .decorated-zone::after {
  border-color: #353430;
}

.theme-light .rec-label,
.theme-auto .rec-label {
  display: none;
}

.header_name {
  grid-row: 2;
  padding-block-start: 65px;
  justify-self: center;
  align-self: center;
  font-family: var(--font-text), monospace;
  font-size: var(--font-size-header-footer);
  line-height: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: var(--font-weight-bold);
  color: var(--header-footer-color);
  text-shadow: 4px 4px 0 var(--title-shadow-color);
}

.title-decor {
  background-color: var(--decor-color);
  color: #000028;
}

.theme-light .title-decor {
  background: var(--decor-color);
  color: #353430;
}

.section {
  background-color: var(--bg-color);
  color: #fff;
}

.main-content {
  background-color: var(--bg-color);
}

.section-title {
  font-family: var(--font-text), monospace;
  font-weight: var(--font-weight-bold);
  color: var(--accent-color);
  font-size: var(--font-size);
  padding-top: 20px;
  padding-inline: 10px;
}

.card {
  padding-inline: 10px;
  padding-top: 20px;
}

.card-title-regular {
  font-weight: var(--font-weight-regular);
  font-family: var(--font-text), monospace;
  min-width: 355px;
  margin-block-end: 10px;
  font-size: var(--font-size);
}

.section-subtitle {
  margin-top: 20px;
  margin-inline: 10px;
  font-family: var(--font-text), monospace;
  font-size: var(--font-size);
  line-height: 23.4px;
  font-weight: var(--font-weight-bold);
}

.card-title {
  min-width: 100%;
  font-family: var(--font-text), monospace;
  font-weight: var(--font-weight-bold);
  margin-block-end: 10px;
  font-size: var(--font-size);
}

.card-text {
  font-family: var(--font-text), monospace;
  font-weight: var(--font-weight-regular);
  font-size: 18px;
  line-height: 23.4px;
  color: var(--text-color);
  font-size: var(--font-size);
}

.theme-dark .card-text {
  color: #f1b2ce;
}

.link-decor {
  text-shadow: 2px 2px 0 var(--decor-color);
}

.link-decor:hover {
  border-bottom: 1px solid var(--text-color);
}

.link-decor:focus-visible {
  outline: 1px solid var(--text-color);
}

.theme-light .link-decor {
  text-shadow: 2px 2px 0 var(--decor-color);
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  padding: 10px 10px 40px;
  gap: 10px;
  background-color: var(--bg-color);
  height: 100%;
}

.gallery__title {
  font-family: var(--font-text), monospace;
  font-size: var(--font-size);
  line-height: 23.4px;
  font-weight: var(--font-weight-bold);
  margin-top: 20px;
  margin-inline: 10px;
}

.gallery__img {
  display: block;
  background-color: var(--bg-color);
  width: 100%;
  height: 100%;
  object-position: center;
}

.footer {
  height: 100vh;
  background-color: var(--bg-color);
  min-height: 668px;
  display: flex;
  place-items: center;
  padding-inline: 14px;
  font-weight: var(--font-weight-bold);
}

.footer__name {
  font-family: var(--font-text), monospace;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size);
  line-height: 83%;
  font-size: var(--font-size-header-footer);
  color: var(--header-footer-color);
  text-shadow: 4px 4px 0 var(--title-shadow-color);
}

@media (width > 768px) {
  .header {
    height: 100vh;
    min-height: 768px;
  }

  .header_name {
    font-size: 120px;
    line-height: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    grid-row: 2;
    padding-block-start: 173px;
    justify-self: start;
  }

  .header__theme-menu {
  }

  .header__theme-menu-list {
    display: flex;
    padding-block-start: 146px;
  }

  .header-title.title-decor {
    max-width: 364px;
    max-height: 117px;
    margin-block-start: 162px;
  }

  .rec-label {
    margin-block-start: 10px;
    margin-inline-end: 10px;
  }

  .decorated-zone::after {
    margin-block-start: 10px;
    margin-inline-end: 10px;
  }

  .decorated-zone::before {
    margin-left: 20px;
  }

  .card-title .title-decor {
    align-self: center;
    justify-self: end;
    max-width: 364px;
    text-align: right;
    padding: 10px 20px;
  }

  .section-top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding-inline: 20px;
  }

  .section-center-list {
    display: flex;
    flex-direction: column;
  }

  .section-center-list-item {
    display: flex;
  }

  .section-bottom-list {
    display: grid;
    grid-column: 2;
  }

  .section-top-list {
    display: grid;
    grid-column: 2 / 3;
  }

  .section-center {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    padding-inline: 20px;
  }

  .section-title {
    display: grid;
  }

  .section-subtitle {
    max-width: 100%;
    max-height: 23px;
  }

  .card {
    grid-column: 2;
  }

  .section-bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 60px;
    padding-inline: 20px;
  }

  .gallery__title {
    margin-top: 79px;
    margin-inline: 20px;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    height: 100%;
    padding: 20px 20px 60px;
  }

  .gallery__img:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1;
    height: 100%;
  }

  .gallery__img:nth-child(2) {
    grid-column: 3;
    grid-row: 1 / 3;
    height: 100%;
  }

  .gallery__img:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / 4;
    height: 100%;
  }

  .gallery__img:nth-child(4) {
    grid-column: 2;
    height: 100%;
  }

  .gallery__img:nth-child(5) {
    grid-column: 4 / -3;
    grid-row: 3;
    height: 100%;
  }

  .gallery__img {
    width: 100%;
    height: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    object-position: center;
  }

  .footer__name {
    place-items: center;
  }
}

@media (width > 1024px) {
  .header {
    height: 100vh;
    display: grid;
  }

  .rec-label {
    position: absolute;
    display: flex;
  }
  .header__theme-menu {
    display: grid;

    justify-items: center;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
  }

  .header_name {
    font-size: 120px;
    line-height: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header-title.title-decor {
    max-width: 491px;
    max-height: 90px;
    margin-left: 513px;
  }

  .decorated-zone::before {
    margin-left: 20px;
  }

  .decorated-zone::after {
    margin-top: 8px;
  }

  .section-top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .section-title {
    display: grid;
    grid-column: 1;
  }

  .section-top-list {
    display: grid;
    grid-column: 2 / 4;
  }

  .section-center {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }

  .section-center-list {
    display: grid;
    gap: 20px;
    grid-column: 1 / 4;
  }

  .section-center-list-item {
    display: grid;
    grid-row: 1;
  }

  .footer {
    display: flex;
    justify-content: center;
  }
}
