.page {
  background-image: var(--cover-image);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  height: 100vh;
  min-height: 668px;
  padding-block-start: 72px;
  padding-inline: 10px;
  padding-block-end: 66px;
}

.header__theme-menu {
  display: flex;
  grid-row: 1;
  justify-content: flex-end;
}

.rec-label {
  display: var(--rec-label-display);
  position: absolute;
  justify-self: end;
  font-family: var(--font-text), monospace;
  font-size: var(--font-size);
  color: var(--accent-color);
  padding-inline-end: 17px;
  padding-block-start: 11px;
}

.rec-label::after {
  content: "";
  width: 9px;
  height: 9px;
  margin-inline-start: 10px;
  margin-block-start: 7px;
  margin-inline-end: 2px;
  background: var(--accent-color);
  border-radius: 50%;
  box-shadow:
    0 0 4px 2px var(--accent-color),
    inset 0 0 4px 2px var(--accent-color);
}

.header__theme-menu-button {
  background: transparent;
  border: none;
  padding: 4px 13px;
  font-family: var(--font-text), monospace;
  font-size: var(--font-size);
  font-weight: var(--font-weight-regular);
  line-height: 18px;
  text-transform: lowercase;
  color: var(--accent-color);
  cursor: pointer;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
  pointer-events: none;
}

.header__theme-menu-button:hover:not(.header__theme-menu-button_active) {
  outline: 1px solid var(--transparent-accent);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-block-end: 1px solid var(--accent-color);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 11.5px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid var(--accent-color);
  z-index: 2;
}

.decorated-zone::after {
  top: 10px;
  right: 10px;
  border-inline-start: none;
  border-block-end: none;
}

.decorated-zone::before {
  bottom: 10px;
  left: 10px;
  border-inline-end: none;
  border-block-start: none;
}

.header_name {
  grid-row: 2;
  justify-self: center;
  align-self: center;
}

.header-title.title-decor {
  grid-row: 3;
  justify-self: end;
  align-self: end;
  font-weight: var(--font-weight-bold);
  line-height: 23.4px;
  padding-block-end: 23px;
}

.title-decor {
  background-color: var(--decor-color);
  font-family: var(--font-text), monospace;
  font-size: var(--font-size);
  font-weight: var(--font-weight-bold);
  color: var(--title-color-smaller);
}

.title-large {
  font-family: var(--font-text), monospace;
  font-weight: var(--font-weight-bold);
  line-height: 0.825;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--title-shadow-color);
}

.section-title {
  font-family: var(--font-text), monospace;
  font-weight: var(--font-weight-bold);
  color: var(--accent-color);
  font-size: var(--font-size);
  padding-inline: 10px;
  padding-block-start: 52px;
}

.section-title-reasons {
  padding-block-start: 40px;
}

.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  padding-inline: 10px;
  padding-block-start: 20px;
}

.section-heading_regular {
  font-weight: var(--font-weight-regular);
}

.section-subtitle_mod {
  margin-block-start: 20px;
  margin-inline: 10px;
  line-height: 23.4px;
}

.card-text {
  font-family: var(--font-text), monospace;
  font-weight: var(--font-weight-regular);
  line-height: 23.4px;
  color: var(--text-color);
  font-size: var(--font-size);
}

.link-decor {
  position: relative;
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--decor-color);
}

.link-decor:hover::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background: var(--text-color);
}

.link-decor:focus-visible {
  outline: 1px solid var(--text-color);
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  padding: 14px 10px 40px;
  gap: 10px;
}

.gallery__title {
  margin-block-start: 36px;
}

.gallery__img {
  display: block;
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

.footer {
  height: 100vh;
  min-height: 668px;
  display: flex;
  place-items: center;
  padding-inline: 14px;
  font-weight: var(--font-weight-bold);
  justify-content: center;
}

.footer_name {
  justify-self: center;
  align-self: center;
}

@media (min-width: 768px) {
  .header {
    min-height: 768px;
    padding-inline: 0;
    padding-inline-end: 20px;
  }

  .header__theme-menu {
    align-items: center;
    padding-block-end: 60px;
  }

  .header_name {
    justify-self: start;
  }

  .header-title.title-decor {
    max-width: 364px;
    margin-block-end: 117px;
    padding-block-end: 22px;
  }

  .rec-label {
    margin-block-start: 10px;
    margin-inline-end: 10px;
  }

  .decorated-zone::after {
    margin-block-start: 10px;
    margin-inline-end: 10px;
  }

  .decorated-zone::before {
    margin-block-end: 10px;
    margin-inline-start: 10px;
  }

  .card-title .title-decor {
    align-self: center;
    justify-self: end;
    max-width: 364px;
    text-align: right;
    padding: 10px 20px;
  }

  .section {
    padding-inline: 20px;
  }

  .section-reasons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding-block-start: 40px;
  }

  .section-factors-list-item {
    display: flex;
    max-width: 728px;
  }

  .section-advice-list {
    grid-column: 2;
  }

  .section-subtitle_mod {
    margin-inline: 0;
  }

  .section-advice-list-item {
    min-width: 472px;
  }

  .section-list-grid {
    display: grid;
  }

  .section-reasons-list {
    grid-column: 2 / 3;
  }

  .section-reasons-list-item {
    min-width: 472px;
  }

  .section-factors {
    padding-block-start: 30px;
  }

  .section-title_padding {
    padding-inline: 0;
  }

  .section-title-reasons {
    display: grid;
    max-width: 236px;
    padding-block-start: 20px;
  }

  .section-title-factors {
    max-width: 236px;
  }

  .section-title-advice {
    padding-block-start: 23px;
  }

  .section-subtitle {
    max-width: 100%;
    margin-inline: 0;
  }

  .card {
    padding-inline: 0;
  }

  .section-advice {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-block-start: 60px;
  }

  .gallery__title {
    grid-column: 1 / 4;
    margin-block-start: 47px;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 20px;
    padding: 35px 20px 60px;
  }

  .gallery__img:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .gallery__img:nth-child(2) {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  .gallery__img:nth-child(3) {
    grid-column: 3;
    grid-row: -4/-2;
  }

  .gallery__img:nth-child(4) {
    grid-column: 1;
    grid-row: 3 / 5;
  }

  .gallery__img:nth-child(5) {
    grid-column: 2 / 3;
    grid-row: 3;
  }

  .gallery__img {
    grid-column: 2 / 4;
  }

  .footer_name {
    place-items: center;
  }
}

@media (min-width: 1024px) {
  .header {
    padding-block: 0;
  }

  .header__theme-menu {
    justify-content: center;
    align-items: flex-start;
    padding-inline-start: 19px;
    padding-block-start: 19px;
  }

  .header__theme-menu-list {
    flex-direction: row;
    justify-content: center;
  }

  .header_name {
    font-size: var(--font-size-title-gigantic);
  }

  .header-title.title-decor {
    max-width: 491px;
    margin-block-end: 135px;
    padding-block-end: 0;
  }

  .decorated-zone::after {
    margin-block-start: 8px;
  }

  .section-reasons {
    grid-template-columns: repeat(3, 1fr);
  }

  .section-title-reasons {
    max-width: 100%;
  }

  .section-reasons-list {
    grid-column: 2 / 4;
  }

  .section-factors {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }

  .section-title-factors {
    max-width: 100%;
  }

  .section-factors-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-column: 1 / 4;
  }

  .section-advice {
    grid-template-columns: repeat(2, auto);
  }

  .section-title-advice {
    margin-inline-end: 20px;
    max-width: 315px;
  }

  .gallery {
    padding: 30px 20px 60px;
  }

  .gallery__title {
    margin-block-start: 52px;
  }

  .footer_name {
    font-size: var(--font-size-title-gigantic);
  }
}
