:root {
  --font-size-title-large: 116px;
  --font-size-title-gigantic: 157px;
  --font-text: "IBM Plex Mono";
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --bg-color: #000028;
  --font-size: 18px;
}
